{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Eric L. Denovellis",
  "givenName": "Eric",
  "familyName": "Denovellis",
  "jobTitle": "Computational Research Scientist",
  "url": "https://www.edenovellis.com",
  "image": "https://www.edenovellis.com/_static/profile.jpg",
  "affiliation": {
    "@type": "Organization",
    "name": "University of California, San Francisco",
    "url": "https://www.ucsf.edu/"
  },
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "Boston University",
      "url": "https://www.bu.edu/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "University of California, Santa Barbara",
      "url": "https://www.ucsb.edu/"
    }
  ],
  "sameAs": [
    "https://github.com/edeno",
    "https://www.linkedin.com/in/eric-denovellis-70908238/",
    "https://orcid.org/0000-0003-4606-087X",
    "https://neuromatch.social/@edeno",
    "https://www.instagram.com/edenovellis/"
  ]
}
</script>
{% endblock %}
