/* Bio area */
div.profile-pic {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

div.profile-pic img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 190px;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bio-info {
    margin: 1.5em auto 1em auto;
    max-width: 220px;
    text-align: center;
    padding: 0 0.5em;
}

.name {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    color: #333;
}

.focusareas {
    font-size: .9em;
    font-weight: bold;
    color: #555;
    line-height: 1.6;
    letter-spacing: 0.025em;
    margin-bottom: 1em;
}

/* Blog post comments */
.gsc-reactions {
    margin-top: 1em;
}

/* Twitter embed CSS */
div.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}